@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ffc107;
  --secondary-color: #f28123;
  --text-color: #5c4033;
  --background-color: #f5f5dc;
}
body {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  color: var(--text-color);
}
.container {
  max-width: 1128px;
  margin: 0 auto;
}

button {
  background: var(--secondary-color);
  color: white;
  width: 231px;
  height: 53px;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  border: none;
  text-align: center;
}

h1 {
  font-family: Cabin;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.05em;
  text-align: left;
}

h2 {
  font-family: Cabin;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.05em;
  text-align: left;
}

p {
  font-family: Cabin;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

.section_title_container {
  display: flex;
  margin: 0 auto;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  max-width: min-content;
}
.section_title_underline {
  width: 70%;
  margin: 0 auto;
  height: 8px;
  margin-top: 10px;
  background-color: var(--primary-color);
}
section_title {
  text-align: center;
}
.about {
  background: var(--background-color);
  padding: 60px 0;
}
.about_container {
  display: flex;
  max-width: 1220px;
  margin: 0 auto;

  .content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 105px;
    p {
      max-width: 550px;
      margin-top: 20px;
    }
  }
}

.testimonials {
  padding: 69px 0;
  background: var(--secondary-color);
  h1 {
    color: white;
  }

  .bee_image {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }
  .cards {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1200px;

    .card {
      background: var(--background-color);
      padding: 75px 32px 32px 32px;
      max-width: 360px;
      position: relative;
      display: flex;
      justify-content: center;
      border-radius: 40px;
      img {
        position: absolute;
        height: 135px;
        top: -20%;
      }
      p {
        text-align: center;
      }
    }
  }
}


.join_section {
  background: var(--text-color);
  color: white;
  padding: 60px 0;
  .email-input-container {
    display: flex;
    max-width: 450px;
    height: 68px;
    background-color: #f5f5dc;
    border-radius: 4px;
    overflow: hidden;
  }

  .email-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding-left: 10px;
    font-size: 18px;
    color: #5c4033;
  }

  .email-input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    font-size: 24px;
    color: #5c4033;
  }

  .email-input::placeholder {
    color: #8b7355;
  }

  .submit-button {
    width: 72px;
    background-color: #f28123;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: none !important;
    transition: background-color 0.3s ease;
    display: grid;
    place-items: center;
  }

  .submit-button:hover {
    background-color: #e67300;
  }

  .join_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .content {
      max-width: 554px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: var(--background-color);
      h2 {
        color: var(--secondary-color);
      }
    }
  }
}
